# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ApureEasing.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/

indexLayout.xml
aws.xml
vcs.xml
